form{
    width: 500px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

form button {
    width: 80px;
}

form img {
    margin-top: 20px;
}

#grid_Livros {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
}


#grid_Livros tbody {
    cursor: pointer;
}

#grid_Livros button {
  
    width: 80px;
    margin-top: 20px;
}
